Repository EXO-UI/exo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest related --run, prettier --write

feat(stack): add new StackBox component
  src/lib/components/Stack/Stack.stories.tsx
  src/lib/components/Stack/Stack.test.tsx
  src/lib/components/Stack/Stack.tsx
  src/lib/components/Stack/consts.ts
  src/lib/components/Stack/index.ts
  src/lib/components/index.ts
Due: eslint --fix, vitest related --run, prettier --write

ci(chromatic deployment): add fetch-depth: 0 setting to get access to full repo
  .github/workflows/storybook.yml
Due: none

test: add emotion tests tool
  package.json
  pnpm-lock.yaml
  src/lib/components/Stack/Stack.test.tsx
  src/tests/test-utils.tsx
Due: eslint --fix, vitest related --run, prettier --write

ci(storybook tests runner): fix accesibility tests runner
  .github/workflows/storybook.yml
Due: none

ci(install-deps action): update name, descriprion, steps
  .github/actions/install-deps/action.yml
Due: none

ci(github workflows): update name for setup pnpm and get dependencies action calls
  .github/workflows/storybook.yml
  .github/workflows/tests.yml
Due: none

feat(spinner): add a new spinner component
  .github/workflows/storybook.yml
  src/lib/components/Spinner/Spinner.stories.tsx
  src/lib/components/Spinner/Spinner.test.tsx
  src/lib/components/Spinner/Spinner.tsx
  src/lib/components/Spinner/consts.ts
  src/lib/components/Spinner/index.ts
  src/lib/components/index.ts
Due: eslint --fix, vitest related --run, prettier --write

chore(components generation): configure new components generation using generate-react-cli tool
  .storybook/main.ts
  gen/templates/component/TemplateName.stories.tsx
  gen/templates/component/TemplateName.test.tsx
  gen/templates/component/TemplateName.tsx
  gen/templates/component/index.ts
  generate-react-cli.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix, vitest related --run, prettier --write

feat(tooltip): add new Tooltip component
  src/lib/components/Tooltip/Tooltip.stories.tsx
  src/lib/components/Tooltip/Tooltip.test.tsx
  src/lib/components/Tooltip/Tooltip.tsx
  src/lib/components/Tooltip/index.ts
Due: eslint --fix, vitest related --run, prettier --write

docs: update README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml}
