Repository EXO-UI/exo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest related --run, prettier --write

fix(link): add href to storybook docs to add focus state and remove text decoration
  src/lib/components/Link/Link.stories.tsx
  src/lib/components/Link/Link.tsx
Due: eslint --fix, vitest related --run, prettier --write

fix(link): add href to storybook docs to add focus state and remove text decoration (#35)
  src/lib/components/Link/Link.stories.tsx
  src/lib/components/Link/Link.tsx
Due: eslint --fix, vitest related --run, prettier --write

refactor(theme): update theme fonts interface
  src/lib/theme/index.ts
  src/lib/theme/themes/base.ts
  src/lib/theme/types.ts
Due: eslint --fix, vitest related --run, prettier --write

feat(components): introduce a new Typography component
  src/lib/components/Button/Button.stories.tsx
  src/lib/components/Typography/Typography.stories.tsx
  src/lib/components/Typography/Typography.test.tsx
  src/lib/components/Typography/Typography.tsx
  src/lib/components/Typography/index.ts
  src/lib/components/index.ts
Due: eslint --fix, vitest related --run, prettier --write

infra: create pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

fix(components/typography): setup variant an element select with options in Typography story
  src/lib/components/Typography/Typography.stories.tsx
Due: eslint --fix, vitest related --run, prettier --write

23 component typography (#38)
  src/lib/components/Button/Button.stories.tsx
  src/lib/components/Typography/Typography.stories.tsx
  src/lib/components/Typography/Typography.test.tsx
  src/lib/components/Typography/Typography.tsx
  src/lib/components/Typography/index.ts
  src/lib/components/index.ts
  src/lib/theme/index.ts
  src/lib/theme/themes/base.ts
  src/lib/theme/types.ts
Due: eslint --fix, vitest related --run, prettier --write

feat(components): introduce new Avatar component
  .storybook/global.css
  src/lib/components/Avatar/Avatar.stories.tsx
  src/lib/components/Avatar/Avatar.test.tsx
  src/lib/components/Avatar/Avatar.tsx
  src/lib/components/Avatar/index.ts
  src/lib/components/index.ts
Due: eslint --fix, vitest related --run, prettier --write

refactor(avatar component): respond to review comments
  src/lib/components/Avatar/Avatar.stories.tsx
  src/lib/components/Avatar/Avatar.test.tsx
  src/lib/components/Avatar/Avatar.tsx
Due: eslint --fix, vitest related --run, prettier --write

refactor(avatar component): respond to previos commits comments
  src/lib/components/Avatar/Avatar.test.tsx
  src/lib/components/Avatar/Avatar.tsx
Due: eslint --fix, vitest related --run, prettier --write

docs: update README.md
  README.md
Due: prettier --write

feat(components): introduce new Avatar component (#40)
  .storybook/global.css
  src/lib/components/Avatar/Avatar.stories.tsx
  src/lib/components/Avatar/Avatar.test.tsx
  src/lib/components/Avatar/Avatar.tsx
  src/lib/components/Avatar/index.ts
  src/lib/components/index.ts
Due: eslint --fix, vitest related --run, prettier --write

docs: add storybook & figma links to README.md
  README.md
Due: prettier --write

ci(tests and linting): add types check and eslint linting job
  .github/workflows/tests.yml
  package.json
Due: prettier --write

fix(avatar component): change types to make all props optional as needed props have default value
  src/lib/components/Avatar/Avatar.test.tsx
  src/lib/components/Avatar/Avatar.tsx
Due: eslint --fix, vitest related --run, prettier --write

chore(pre-commit): improve pre-commit output and add types check to the pre-commit hook
  .husky/pre-commit
  .husky/scripts/types-check.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, vitest related --run, prettier --write

docs(REAME.md): correct git clone command description
  README.md
Due: prettier --write

fix(types-check.js): fix type error non type check run
  .husky/scripts/types-check.js
Due: eslint --fix, vitest related --run, prettier --write

feat(component): add new Badge component
  src/lib/components/Badge/Badge.stories.tsx
  src/lib/components/Badge/Badge.test.tsx
  src/lib/components/Badge/Badge.tsx
  src/lib/components/Badge/index.ts
  src/lib/components/index.ts
Due: eslint --fix, vitest related --run, prettier --write

EDIT MSG
  src/lib/components/Link/Link.tsx
Due: eslint --fix, vitest related --run, prettier --write

chore(component): change Badge colors
  src/lib/components/Badge/Badge.tsx
  src/lib/theme/themes/exo-dark.ts
  src/lib/theme/themes/exo-light.ts
Due: eslint --fix, vitest related --run, prettier --write

chore(component): review response
  src/lib/components/Badge/Badge.stories.tsx
  src/lib/components/Badge/Badge.test.tsx
  src/lib/components/Badge/Badge.tsx
Due: eslint --fix, vitest related --run, prettier --write

refactor(component): remove logs
  src/lib/components/Avatar/Avatar.tsx
Due: eslint --fix, vitest related --run, prettier --write

feat(component): add new Badge component (#47)
  src/lib/components/Badge/Badge.stories.tsx
  src/lib/components/Badge/Badge.test.tsx
  src/lib/components/Badge/Badge.tsx
  src/lib/components/Badge/index.ts
  src/lib/components/index.ts
  src/lib/theme/themes/exo-dark.ts
  src/lib/theme/themes/exo-light.ts
Due: eslint --fix, vitest related --run, prettier --write

refactor(component): make bagde icon a variable in storybook
  src/lib/components/Badge/Badge.stories.tsx
Due: eslint --fix, vitest related --run, prettier --write

chore: update issue templates
  .github/ISSUE_TEMPLATE/component-request.md
  .github/ISSUE_TEMPLATE/development-changes.md
  .github/ISSUE_TEMPLATE/infrastructure-changes.md
Due: prettier --write

build(pnpm): update pnpm to version 8
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(storybook): update storybook to v8
  .storybook/main.ts
  .storybook/preview.tsx
  chromatic.config.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, vitest related --run, prettier --write

ci(storybook): add chromatic deployment trigger on ".storybook/" path change
  .github/workflows/storybook.yml
  .storybook/main.ts
Due: eslint --fix, vitest related --run, prettier --write

ci(jobs): move deps installation and caching to a separate reusable file
  .github/actions/install-deps/action.yml
  .github/workflows/storybook.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml}
